
.limiter {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding:80px;
  background: url("https://image.freepik.com/free-vector/youth-day-with-people-hugging-together_23-2148582326.jpg") 80% 50% no-repeat;
}

.login-container{
  width: 100%;
  margin: 0 0;  
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.23);
  justify-content: center;
  border-radius: 5px;
  background-color:#ffffff;


  }

.login-body{
  background-color:rgba(255, 255, 255, 0);
  width: 40%; 
  padding: 55px 55px 40px 55px;  
  display: flex;
  justify-content: center;
  border-radius:12px 0 0 12px;


}

 /* [ Log in Form ]*/

 .login-form {
  width: 100%;
  height: 0 auto


}

* {
box-sizing: border-box;
}

.login-form-title {
  font-family:  sans-serif;
  color: #0c4453;
  line-height: 2.2;
  text-align: center;
  text-transform: capitalize;
  display: block;
  font-weight: inherit; 
  font-size: 25px;

}


/*[ Input ]*/

.wrap-input {
  font-family:Linearicons-Free;
  width: 100%;
  border-bottom: 1.5px solid rgba(200, 197, 197, 0.55);
  padding: 30px 0;
  justify-content:center;

}

.input {
  font-family:sans-serif;
  outline: none ;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 9vh;
  background: transparent;
  padding: 0 10px 0 75px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/ 
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

  background: -webkit-linear-gradient(left, #5078c2, #5078c2, #91aee4);
  background: linear-gradient(left, #5078c2, #5078c2, #91aee4);
}

.focus-input::after {
  font-size: 22px;
  color: #1c1a1a;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}


input:focus::-webkit-input-placeholder { color:#000000c2;}
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }


input::-webkit-input-placeholder { color: rgba(60, 57, 57, 0.86);}
input:-moz-placeholder { color: rgba(60, 57, 57, 0.86);}
input::-moz-placeholder {color: rgba(60, 57, 57, 0.86);}
input:-ms-input-placeholder { color: rgba(60, 57, 57, 0.86);}

.input:focus {
  padding-left: 60px;
}
.input:focus + .focus-input::before {
  width: 100%;
}
.input:focus + .focus-input::after {
  left: 23px;
  color: #0827d4;
}



/*[ Button ]*/
.container-login-form-btn {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login-form-btn {
  margin-top: auto;
  font-size: 18px;
  color: #fff;
  line-height: .2;
  text-transform: none;
  display: -webkit-box;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  min-width: 80%;
  height: 40px;
  border-radius: 20px;
  background: -webkit-linear-gradient(left, #136075, #3b8da0, #77a9b7);
  background: linear-gradient(left, #136075, #3b8da0, #77a9b7);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}



.login-form-btn:hover {
  background-color: transparent;
}

.login-form-btn:hover:before {
  opacity: 1;
}

.icon-input {
  font-family:Linearicons-Free;
  position: relative;
}


@media screen and (max-width: 930px) {


*,
 input#email.input,
  input#password.input{
  font-size: 15px;
}
span.login-form-title{
  font-size: 10px;
}

div.container-login-form-btn{
  margin-top: 25px;
 
}
.login-form-btn {
  padding: 0 5px;
  font-size: 10px;
  min-width: 50%;
  height: 30px;
  border-radius: 20px;
}


div.limiter {
  width: 100%;
  padding:0 0;
  margin-top:30px;
  padding:30px;
  background:none;

}

div.login-container{
  width: 100%;
  }
 
div.login-body{
    width: 100%;
    border-radius:12px;
 
}

.wrap-input {
  
  padding: 20px 0;

}
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

  background: -webkit-linear-gradient(left, #5078c2, #5078c2, #91aee4);
  background: linear-gradient(left, #5078c2, #5078c2, #91aee4);
}

.focus-input::after {
  font-size: 20px;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
 
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}


}