
html body{
  background: #1e96b833;
  background: -webkit-linear-gradient(left, #1e96b8f2, #40a4bbf2, #a3cfdcd1);
  background: linear-gradient(right, #1e96b8f2, #40a4bbf2, #a3cfdcd1);
  
}

.limiter {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  padding:100px;


}

div.login-container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: fit-content;
  overflow: hidden;
  padding: 55px 55px 37px 55px;  
  width: 70%;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff4d;
  z-index: auto;

  }

 /* [ Log in Form ]*/

 .login-form {
  width: 100%;
  height: 0 auto
}

* {
box-sizing: border-box;
}

.login-form-title {
  font-family:  sans-serif;
  color: #0c4453;
  line-height: 2.2;
  text-align: center;
  text-transform: capitalize;
  display: block;
  font-weight: inherit; 
  font-size: 25px;

}


/*[ Input ]*/

.wrap-input {
  font-family:Linearicons-Free;
  width: 100%;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
  padding: 30px 0;
  justify-content:center;

}

.input {
  font-family:sans-serif;
  outline: none ;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 9vh;
  background: transparent;
  padding: 0 10px 0 75px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/ 
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

  background: -webkit-linear-gradient(left, #5078c2, #5078c2, #91aee4);
  background: linear-gradient(left, #5078c2, #5078c2, #91aee4);
}

.focus-input::after {
  font-size: 22px;
  color: #ffffff;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}


input:focus::-webkit-input-placeholder { color:transparent;}
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }


input::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.86);}
input:-moz-placeholder { color: rgba(255, 255, 255, 0.86);}
input::-moz-placeholder {color: rgba(255, 255, 255, 0.86);}
input:-ms-input-placeholder { color: rgba(255, 255, 255, 0.86);}

.input:focus {
  padding-left: 60px;
}
.input:focus + .focus-input::before {
  width: 100%;
}
.input:focus + .focus-input::after {
  left: 23px;
  color: #0827d4;
}



/*[ Button ]*/
.container-login-form-btn {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login-form-btn {
  margin-top: auto;
  font-size: 18px;
  color: #fff;
  line-height: .2;
  text-transform: none;
  display: -webkit-box;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  min-width: 50%;
  height: 40px;
  border-radius: 20px;
  background: -webkit-linear-gradient(left, #136075, #3b8da0, #77a9b7);
  background: linear-gradient(left, #136075, #3b8da0, #77a9b7);
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}



.login-form-btn:hover {
  background-color: transparent;
}

.login-form-btn:hover:before {
  opacity: 1;
}

.icon-input {
  font-family:Linearicons-Free;
  position: relative;
}


@media screen and (max-width: 700px) {


*,
 input#email.input,
  input#password.input{
  font-size: 15px;
}
span.login-form-title{
  font-size: 10px;
}

div.container-login-form-btn{
  margin-top: 25px;
 
}
.login-form-btn {
  font-size: 15px;
  min-width: 50%;
  height: 35px;
  border-radius: 20px;
}


div.limiter {
  width: 100%;
  padding:0 0;
  margin-top:30px;
  padding:50px;

}

div.login-container{
  padding: 15px 15px 25px 15px;  
  width: 100%;
  }

.wrap-input {
  padding: 30px 0;
}
.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;

  background: -webkit-linear-gradient(left, #5078c2, #5078c2, #91aee4);
  background: linear-gradient(left, #5078c2, #5078c2, #91aee4);
}

.focus-input::after {
  font-size: 22px;
  color: #ffffff;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
 
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}


}