{% extends "base_layout.html" %}

<!-- Replacement for Title -->
{% block title %}
Contact us 
{% endblock %}

<!-- Replacement for Content -->
{% block content %}
<div class="container">

<div id="map">
<script>
    // Initialize and add the map
    function initMap() {
    // The location of Uluru
    var uluru = {lat: -25.344, lng: 131.036};
    // The map, centered at Uluru
    var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 4, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
   <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSYZ-8rXE00R7gHB1MO4fMxjizaZ_YH6M&callback=initMap">
   </script>
   </div>
   </div>
{% endblock %}