{% extends "base_layout.html" %}

<!-- Replacement for Title -->
{% block title %}
Login 
{% endblock %}

{% block head %} 
<style>
 
 html body{
  background: #1e96b8f2;
  background: -webkit-linear-gradient(left, #b2dbe6, #bbdee6, #e3f4f9eb);
  background: linear-gradient(right, #b2dbe6, #bbdee6, #e3f4f9eb);
  
}
</style>
{% endblock %}

<!-- Replacement for Content -->
{% block content %}
<div class="limiter">
    <div class="login-container">
        <div class="login-body">
             <form action="{{url_for('site.login')}}" method="POST" class="login-form icon-form">
                <span class="login-form-title " style="font-weight: bold; font-size: 30px;">
                    Log In
                 </span>
                    <label class="wrap-input icon-input" data-validate = "Enter username">
                        {{ form.email(class_='input', placeholder="User name" ) }}
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                           <b style="color:cadetblue;"> {{ error }} </b> 
                           <br>
                        {% endfor %}
                        {% endif %}
                        <span class="focus-input" data-placeholder="&#xe82a;"></span>
                    </label>
   
                    <label class="wrap-input icon-input" data-validate="Enter password">
                        {{ form.password(class_='input', placeholder="password" ) }}
                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                           <b style="color:cadetblue;"> {{ error }} </b> 
                           <br>
                        {% endfor %}
                        {% endif %}
                        <span class="focus-input" data-placeholder="&#xe80f;"></span>
                    </label>
                
                    <div class="container-login-form-btn ">
                        {{ form.csrf_token }}
                        {{ form.submit(class_=' login-form-btn') }}
                    </div>  


                    {% if msg %}
                     <p>{{ msg }}</p>
                    {% endif %}
             </form>
            </div>
     </div>
</div>

 
{% endblock %}