{% extends "base_layout.html" %}

<!-- Replacement for Title -->
{% block title %}
Home 
{% endblock %}


<!-- Replacement for Content -->
{% block content %}
 
<section class="about-section">
  <article>
    <h1 style="text-align: center;">Paws Rescue Centre 🐾</h1>
    <p>We are tiny kittens and puppies rescued by the good people at Paws Rescue Center.</p>
  </article>
</section> 

<section class="container">
    {% for pet in pets %}
    <article class="card">
      <img src="{{url_for('static', filename = pet.id|string+".jpg")}}" class="card-img-top" alt="pet">
      <div class="card-body">
        <h5 class="card-title"> {{ pet.name }} </h5>
        <p class="sub-title">{{ pet.age }}</p>
        <p class="card-text"> {{ pet.bio }} </p>
        <a id="adopt-btn" href="{{url_for('site.pet_details', pet_ID = pet.id)}}"class=" login-form-btn" style="color: white; width: 50%;">
            Adopt me
        </a>
      </div>
    </article>
     {% endfor %}
</section>

{% endblock %}